.bg-grey {
  background-color: rgba(148, 145, 141, 0.479);
}

span {
  color: black;
}

h1 {
  color: grey;
}

.bt:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
