.bg-grey {
  background-color: rgba(148, 145, 141, 0.479);
}

h1 {
  color: grey;
}

div.left {
  word-wrap: break-word;
}

.card {
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
